.container.jumbotron{
    color:#2c3e58 ;
    background-color: #ecf0f1;
}

.navbar{
    height: 70px;
    background: #2c3e58;
}
body{
    padding-top: 90px;
}

.navbar-inverse .navbar-nav > li > a{
    color: white;
}

.navbar-inverse .navbar-brand{
    color: white;
}